!!!
html
	head
		title Sitemap Viewer
		link(href='/css/style.css', rel='stylesheet', type='text/css')
	body
		table
			tr
				th(colspan='10')
					a(href=MDN + '/en-US/dashboards/revisions?locale=fr&user=&topic=') Revisions dashboard
					|  | 
					a(href=MDN + '/sitemaps/fr/sitemap.xml') Sitemap
					|  (
					a(href="/dump/sitemap?locale=fr") Dump
					| ) | 
					a(href='#tags') Tags (#{tags.length})
			tr
				th Sitemap lastmod (MDN)
				th Last updated (MDN)
				th Last dump (local)
				th Last parsed (local)
				th URL
				th en-US
				th Tags
				th Links
				th Length
				th Last editor

			each path in paths
				- var orderedUrls = _.sortBy(urls[path]);
				tr
					td(colspan='10')
						h3(id='path-' + path) #{path} (#{orderedUrls.length})
				each url in orderedUrls
					- var uri = new URI(url);
					- var savedUrl = db[URI.decode(uri.href())] || {};
					tr(class='path-' + path)
						td(class='lastMod') #{savedUrl.lastmod}
						td(class='lastUpdated d' + displayDate(savedUrl.lastUpdated, 'YY')) #{displayDate(savedUrl.lastUpdated)}
						td.lastDump
							if savedUrl.lastDump && savedUrl.lastDump < savedUrl.lastmod
								button.dump(data-uri-path= uri.path(), class='d05', title=displayDate(savedUrl.lastDump)) outdated
							else
								button.dump(data-uri-path= uri.path()) #{displayDate(savedUrl.lastDump)}
						td.lastParsed
							button.parse(data-uri-path=uri.path()) #{displayDate(savedUrl.lastParsed)}
						td.url
							a(rel='nofollow', href= uri.href(), title= uri.filename(true)) #{uri.filename(true)}
						td.locales
							if savedUrl.locales && savedUrl.locales['en-US']
								a(rel='nofollow', href= MDN + '/en-US/docs/' + savedUrl.locales['en-US']) #{savedUrl.locales['en-US']}
						td.tags
							if savedUrl.tags
								each tag in savedUrl.tags
									a(href='#tag-' + tag) #{tag}
									|  
						td.links
							if savedUrl.links
								if savedUrl.links.external
									span ext: #{savedUrl.links.external}
								if savedUrl.links.fr
									span fr: #{savedUrl.links.fr}
								if savedUrl.links['en-US']
									span en-US: #{savedUrl.links['en-US']}
								if savedUrl.links['404'] 
									span.d05 404: #{savedUrl.links['404']}
						td(class=savedUrl.contentLength && savedUrl.contentLength < 500 ? 'd05' : '') #{savedUrl.contentLength}
						td #{savedUrl.lastEditor}
		ul#tags
			li
				h2 #{tags.length} Tags
			each tag in tags
				li(id='tag-' + tag[0]) #{tag[0]} - #{tag[1]}
		script(src='/js/view.js')